// $ycolor: #e3b337;
@import url(./dapAni.scss);
$ycolor: #43aad7;

// $ycolor: #e3b337;
.height {
    position: relative;
    height: 100%;
}

.flex {
    display: flex;
    justify-content: space-between;
}